/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
    background: #d3e1f1;
    color: #333;
}

/* Header */
header {
    background: #b8d3f1;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 24px;
    color: #2a4a8a;
}
.logo{
    width: 100px;
    height: 100px;

}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #2a4a8a;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #4169e1;
}

/* Seções */
.section {
    padding: 80px 40px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    font-size: 32px;
    color: #2a4a8a;
    margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Produtos */
.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.produto-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.produto-card button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #2a4a8a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.produto-card button:hover {
    background: #4169e1;
}

/* Blog */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.blog-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.blog-card a {
    display: inline-block;
    margin-top: 10px;
    color: #2a4a8a;
    text-decoration: none;
    font-weight: bold;
}

.blog-card a:hover {
    color: #4169e1;
}

/* Contato */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 12px;
    border: none;
    background: #2a4a8a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #4169e1;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: #2a4a8a;
    margin-top: 40px;
}
.icon-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 25px;
    margin: 20px 0;
  }

  .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }

  .icon-box img {
    width: 40px;
    height: 40px;
  }

  .icon-box:hover {
    opacity: 0.8;
  }

.banner-topo {
    width: 100%;
    height: auto;
    display: block;
}

.produtos{
    border-radius: 2%;
}
